fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic-settings
python-dotenv
firebase-admin
slowapi
redis
resend==0.8.0
alembic
psycopg2-binary
supabase
fastapi-csrf-protect
PyJWT  
fastapi-csrf-protect 
